#IDK {
    length: 400px;
    width: 400px;
}

.heading {
    display: flex;
    justify-content: center;
}

.text-center{
    padding-top: 10px;
}
.img-fluid {
    width: 100%;

}

.button:hover{
    background:black;
    color: white;
}